$color: #7B786F;
@import "normalize";

.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	background-color: #ffffff;
}

.description {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&__title{
		font-size: 33px;
		font-weight: bold;
		color: lighten($color, 20%);
		text-align: center;
	}
	&__image{
		width: 100%;
		max-width: 850px;
	}
}
.counter{
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&__title{
		font-size: 33px;
		font-weight: bold;
		color: lighten($color, 20%);
		text-align: center;
	}
	&__image{
		width: 100%;
		max-width: 850px;
	}
}